<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>基本资料</span>
            <button class="btn btn-default btn-xs pull-right">编辑</button>
        </div>
        <div class="panel-body">
            <div>
                <label>姓名</label>
                <span>{{main.user.Name}}</span>
            </div>
            <div>
                <label>年龄</label>
                <span>{{main.user.Age}}</span>
            </div>
        </div>
    </div>
</div>
     